@model BibliotecaApresentacao.ViewModels.EnderecoViewModel
@{
    ViewBag.Title = "Create";
}

<form action="~/Endereco/Create" method="post">

    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="cep">CEP</label>
                <input class="form-control" placeholder="Apenas Números" type="search" id="cep" name="enderecoViewModel.CEP" maxlength="8" pattern="[0-9]+$" />
            </div>
            <div class="col-md-2">
                <label> </label>
                <button formnovalidate="formnovalidate" type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Buscar</button>
            </div>
        </div>

        <label class="col-form-label" for="logradouro">Logradouro</label>
        <input class="form-control" id="logradouro" name="enderecoViewModel.Logradouro" />

        <label class="col-form-label" for="bairro">Bairro</label>
        <input class="form-control" id="bairro" name="enderecoViewModel.Bairro" />

        <label class="col-form-label" for="numero">Nº</label>
        <input class="form-control" id="numero" name="enderecoViewModel.NumeroResidencial" />

        <label class="col-form-label" for="complemento">Complemento</label>
        <input class="form-control" id="complemento" name="enderecoViewModel.Complemento" />

        <label class="col-form-label" for="cidade">Municipio</label>
        <select id="cidade" name="enderecoViewModel.MunicipioId" class="form-control">
            @foreach (var municipio in ViewBag.Municipio)
            {
                <option value="@municipio.MunicipioId" selected="@municipio.MunicipioId.Equals(ViewBag.Municipio)">@municipio.NomeMunicipio</option>
            }

        </select>
    </div>

    <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
</form>

<script src="~/Content/js/BuscaCep.js"></script>