@model IList<BibliotecaApresentacao.ViewModels.EnderecoViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Lista de Endereços</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm btn-form float-right" href="~/Endereco/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>CEP</th>
            <th scope="col">Logradouro</th>
            <th>Nº</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var endereco in Model)
        {
            <tr class="busca">
                <td>@endereco.CEP</td>
                <td class="info-nome">@endereco.Logradouro</td>
                <td>@endereco.NumeroResidencial</td>
                <td>
                    <a class="btn btn-secondary btn-sm btn-form float-right" href="~/Endereco/Details/@endereco.EnderecoId">[+] mais</a>
                </td>
            </tr>
        }
    </tbody>
</table>