@model BibliotecaApresentacao.ViewModels.LocalizacaoViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    <h3>Edição de Localização</h3>
    <div class="col">
        @Html.LabelFor(model => model.LocalizacaoObra, "*Localização", new { @class = "col-form-label"})
        @Html.EditorFor(model => model.LocalizacaoObra, new { htmlAttributes = new {@class = "form-control", @placeholder = "Digite a localização...", @value = ViewBag.Localizacao.LocalizacaoObra}})
        @Html.ValidationMessageFor(model => model.LocalizacaoObra, "", new {@class = "text-danger" })
    </div>
    <div class="col">
        <a class="btn btn-danger btn-sm btn-form" href="~/Localizacao/Index">Cancelar</a>
        <input class="btn btn-success btn-sm btn-form" type="submit" value="Salvar"/>
    </div>
}

<!---------------------------------------------Form HTML---------------------------------------------->

@*<form action="~/Localizacao/Edit/@ViewBag.Localizacao.LocalizacaoId" method="post">
    <label class="col-form-label" for="localizacao">Localização: </label>
    <input class="form-control" id="localizacao" name="localizacaoViewModel.LocalizacaoObra" value="@ViewBag.Localizacao.LocalizacaoObra" />

    <input class="btn btn-success btn-form" type="submit" value="Salvar" />
</form>*@

