@model IList<BibliotecaApresentacao.ViewModels.LocalizacaoViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h3>Localizações</h3>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm btn-form float-right" href="~/Localizacao/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
    
    </thead>
    <tbody>
        @foreach (var localizacao in Model)
        {
            <tr class="busca">
                <td class="info-nome">@localizacao.LocalizacaoObra</td>
                <td class="col-md-1">
                    <a class="btn btn-warning btn-sm float-right" href="~/Localizacao/Edit/@localizacao.LocalizacaoId">Editar</a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger btn-sm float-right" href="~/Localizacao/Delete/@localizacao.LocalizacaoId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>