@model BibliotecaApresentacao.ViewModels.PaisViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    <h3>Edição de País</h3>

    <div class="col">
        @Html.LabelFor(model => model.NomePais, "*País:", new { @class = "col-form-label"})
        @Html.EditorFor(model => model.NomePais, new { htmlAttributes = new {@class = "form-control", @placeholder = "Digite o país...", @value = ViewBag.Pais.NomePais}})
        @Html.ValidationMessageFor(model => model.NomePais, "", new { @class = "text-danger"})
    </div>
    <div class="col">
        <a class="btn btn-danger btn-form" href="~/Pais/Index">Cancelar</a>
        <input class="btn btn-success btn-form" type="submit" value="Salvar" />
    </div>
}

<!--------------------------------------------Form HTML----------------------------------------------->
@*<form action="~/Pais/Edit/@ViewBag.Pais.PaisId" method="post">
        <div class="col">
            <label class="col-form-label" for="pais">Pais: </label>
            <input class="form-control" id="pais" name="paisViewModel.NomePais" value="@ViewBag.Pais.NomePais" />
        </div>
        <div class="col">
            <a class="btn btn-danger btn-form" href="~/Pais/Index">Cancelar</a>
            <input class="btn btn-success btn-form" type="submit" value="Salvar" />
        </div>
    </form>*@

