@model BibliotecaApresentacao.ViewModels.EstadoViewModel
@{
    ViewBag.Title = "Create";
}

<form action="~/Estado/Create" method="post">
    <div class="col">
        <label class="col-form-label" for="estado">Estado:</label>
        <input class="form-control" id="estado" name="estadoViewModel.NomeEstado" />

        <label class="col-form-label" for="pais">Pais: </label>
        <select id="pais" name="estadoViewModel.PaisId" class="form-control">
            @foreach (var pais in ViewBag.Pais)
            {
                <option value="@pais.PaisId" selected="@pais.PaisId.Equals(ViewBag.Pais)">@pais.NomePais</option>
            }
        </select>
    </div>

    <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
</form>

