@model IList<BibliotecaApresentacao.ViewModels.EstadoViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Estados</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm btn-form float-right" href="~/Estado/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>

    </thead>
    <tbody>
        @foreach (var estado in Model)
        {
            <tr class="busca">
                <td class="info-nome">@estado.NomeEstado</td>
                <td class="col-md-1">
                    <a class="btn btn-warning btn-sm float-right" href="~/Estado/Edit/@estado.EstadoId">Editar</a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger btn-sm float-right" href="~/Estado/Delete/@estado.EstadoId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
