@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Bem-vindo @Session["Nome"].ToString()!</h3>
</div>
<div class="card col">
    <div class="card-header">
        <h5>Empréstimos em aberto</h5>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Data Prevista</th>
                    <th>Título</th>
                    <th>Registro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emprestimo in ViewBag.Emprestimos)
                {
                    <tr>
                        <td>@emprestimo.DataDevolucaoPrevista.ToShortDateString()</td>
                        <td>@emprestimo.ExemplarLivro.Livro.Titulo</td>
                        <td>@emprestimo.ExemplarLivro.Registro</td>
                        <td>
                            <a class="btn btn-secondary btn-sm btn-form" href="~/Emprestimo/Details/@emprestimo.EmprestimoId">[+] mais</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary btn-sm btn-form" href="~/Emprestimo/Index">Lista Geral</a>
    </div>
</div>