@model BibliotecaApresentacao.ViewModels.PessoaViewModel
@{
    ViewBag.Title = "Create";
}

<form action="~/Pessoa/Create/@ViewBag.UsuarioId" method="post">
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="autor">Nome:</label>
                <input class="form-control" id="autor" name="pessoaViewModel.Nome" />
            </div>
            <div class="col">
                <label class="col-form-label" for="cpf">CPF: </label>
                <input class="form-control" id="cpf" name="pessoaViewModel.Cpf" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="dataNascimento">Data de Nascimento:</label>
                <input type="date" id="dataNascimento" class="form-control" name="pessoaViewModel.DataDeNascimento" />
            </div>
            <div class="col">
                <label class="col-form-label" for="idade">Idade:</label>
                <input id="idade" class="form-control" name="pessoaViewModel.Idade" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="profissao">Profissão: </label>
                <input class="form-control" id="profissao" name="pessoaViewModel.Profissao" />
            </div>
            <div class="col">
                <label class="col-form-label" for="telefone">Telefone: </label>
                <input class="form-control" id="telefone" name="pessoaViewModel.Telefone" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="estado">Estado: </label>
                <select class="form-control" id="estado">
                    <option>Selecione um Estado...</option>
                    @foreach (var estado in ViewBag.Estado)
                    {
                        <option value="@estado.EstadoId">@estado.NomeEstado</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="col-form-label" for="municipio">Município: </label>
                <select class="form-control" id="municipio">
                    <option>Selecione um Município...</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="endereco">Endereço: </label>
                <select class="form-control col-md-9" id="endereco" name="pessoaViewModel.EnderecoId">
                    <option>Escolha um Endereço...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col">
        <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
        <a class="btn btn-warning btn-form" formnovalidate="formnovalidate" href="~/Pessoa/Index" >Voltar</a>
    </div>
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
        $(document).ready(function () {
        $("#estado").change(function () {
             var id = $(this).children("option:selected").val();
            $.ajax({
                url: "/Editora/SelecionarMunicipios/" + id,
                dataType: "JSON",
                success: function (data) {
                    $("#municipio").empty();
                    $("#municipio").append('<option value="">Selecione um Município...</option>');
                    $.each(data, function (index, element) {
                        $("#municipio").append('<option value="' + element.MunicipioId + '">' + element.NomeMunicipio + '</option>');
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $("#municipio").change(function () {
             var id = $(this).children("option:selected").val();
            $.ajax({
                url: "/Editora/SelecionarEnderecos/" + id,
                dataType: "JSON",
                success: function (data) {
                    $("#endereco").empty();
                    $("#endereco").append('<option value="">Seleciona um Endereço...</option>');
                    $.each(data, function (index, element) {
                        $("#endereco").append('<option value="' + element.EnderecoId + '">' + element.Logradouro + ", " + element.NumeroResidencial + " - " + element.Bairro + '</option>');
                    });
                }
            });
        });
    });
</script>