@model IList<BibliotecaApresentacao.ViewModels.PessoaViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col">
        <h1>Lista de Usuários</h1>
    </div>
    <div class="col">
        <a class="btn btn-primary btn-sm btn-form float-right" href="~/DadosLogin/Create">Novo</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in Model)
        {
            <tr>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Cpf</td>
                <td >@pessoa.DataDeNascimento.ToShortDateString()</td>
                <td>
                    <a class="btn btn-secondary btn-sm btn-form float-right" href="~/Pessoa/Details/@pessoa.PessoaId">[+] mais</a>
                </td>
            </tr>
        }
    </tbody>
</table>