@model BibliotecaApresentacao.ViewModels.MunicipioViewModel
@{
    ViewBag.Title = "Create";
}

<form action="~/Municipio/Create" method="post">
    <div class="col">
        <label class="col-form-label" for="municipio">Município:</label>
        <input class="form-control" id="municipio" name="municipioViewModel.NomeMunicipio" />

        <label class="col-form-label" for="estado">Estado: </label>
        <select id="estado" name="municipioViewModel.EstadoId" class="form-control">
            @foreach (var estado in ViewBag.Estado)
            {
                <option value="@estado.EstadoId" selected="@estado.EstadoId.Equals(ViewBag.Estado)">@estado.NomeEstado</option>
            }
        </select>
    </div>

    <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
</form>