@model BibliotecaApresentacao.ViewModels.MunicipioViewModel
@{
    ViewBag.Title = "Delete";
}

<form action="~/Municipio/Edit/@ViewBag.Municipio.MunicipioId" method="post">
    <label class="col-form-label" for="municipio">Município: </label>
    <input class="form-control" id="municipio" name="municipioViewModel.NomeMunicipio" value="@ViewBag.Municipio.NomeMunicipio" />

    <label class="col-form-label" for="pais">Pais: </label>
    <select id="pais" name="municipioViewModel.PaisId" class="form-control">
        @foreach (var estado in ViewBag.Estado)
        {
            <option value="@estado.EstadoId" selected="@estado.EstadoId.Equals(ViewBag.Pais)">@estado.NomeEstado</option>
        }
    </select>

    <input class="btn btn-success btn-form" type="submit" value="Salvar" />
</form>