@model IList<BibliotecaApresentacao.ViewModels.MunicipioViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Municípios</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-form" href="~/Municipio/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>

    </thead>
    <tbody>
        @foreach (var municipio in Model)
        {
            <tr>
                <td>@municipio.NomeMunicipio</td>
                <td>
                    <a class="btn btn-warning" href="~/Municipio/Edit/@municipio.MunicipioId">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="~/Municipio/Delete/@municipio.MunicipioId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

