/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-form{
    margin-top: 10px;
}

.btn-primary {
    background-color: #008B8B;
    border-color: #48D1CC;
}

.btn-primary:hover {
    background-color: #48D1CC;
    border-color: #48D1CC;
    }

.some{
    opacity: 0;
    fill-opacity: 0;
}


