/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-form{
    margin: 10px;
    margin-left: 0px;
}

.bg-gradient-primary {
    background-color: #db1f44;
    background-image: linear-gradient(180deg, #db1f44 10%, #e34b69 100%);
}

.some {
    opacity: 0;
    fill-opacity: 0;
}

.masthead .masthead-bg {
    background-color: rgba(219, 31, 68, .6);
}

.overlay {
    background: #d1d1d1;
    background: url(/Content/LoginPackage/img/susan-yin-2JIvboGLeho-unsplash.jpg);
}

.btn-login {
    background-color: #216ba8;
    border-color: #216ba8;
    color: white;
}

.btn-login:hover {
    background-color: #2145a8;
    border-color: #2145a8;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

