@model IList<BibliotecaApresentacao.ViewModels.ClassificacaoViewModel>
@{
    ViewBag.Title = "Index";
}

@if (TempData["msg"] != null)
{
    <span id="mensagem" class="alert-danger alert-heading">
        <div class="alert alert-danger" role="alert">
            @TempData["msg"]
        </div>
    </span>
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Classificações</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm float-right" href="~/Classificacao/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>

    </thead>
    <tbody>
        @foreach (var classificacao in Model)
        {
            <tr class="busca">
                <td class="info-nome">@classificacao.ClassificacaoObra</td>
                <td class="col-md-1">
                    <a class="btn btn-warning btn-sm float-right" href="~/Classificacao/Edit/@classificacao.ClassificacaoId">Editar</a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger btn-sm float-right" href="~/Classificacao/Delete/@classificacao.ClassificacaoId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>