@model IList<BibliotecaApresentacao.ViewModels.EditoraViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col">
            <h1>Lista de Editoras</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm btn-form float-right" href="~/Editora/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var editora in Model)
        {
            <tr>
                <td>@editora.NomeEditora</td>
                <td>@editora.Endereco.Municipio.NomeMunicipio</td>
                <td>@editora.Endereco.Municipio.Estado.NomeEstado</td>
                <td>
                    <a class="btn btn-secondary btn-sm btn-form float-right" href="~/Editora/Details/@editora.EditoraId">[+] mais</a>
                </td>
            </tr>
        }
    </tbody>
</table>