@model BibliotecaApresentacao.ViewModels.AssuntoViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <h3>Cadastro de Assunto</h3>

    <div class="col">
        @Html.LabelFor(model => model.AssuntoObra, "*Assunto:", new {@class = "col-form-label" })
        @Html.EditorFor(model => model.AssuntoObra, new { htmlAttributes = new {@class = "form-control", @placeholder = "Digite o assunto...", @id = ""}})
        @Html.ValidationMessageFor(model => model.AssuntoObra, "", new { @class = "text-danger"})
    </div>
    <div class="col">
        <a class="btn btn-warning btn-form" href="~/Assunto/Index">Voltar</a>
        <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
    </div>

}

@*<----------------------------------------Form HTML---------------------------------------------->*@

@*<form action="~/Assunto/Create" method="post">
        <div class="col">
            <label class="col-form-label" for="assunto">Assunto: </label>
            <input class="form-control" id="assunto" name="assuntoViewModel.AssuntoObra" autofocus required="Campo obrigatório" />
        </div>
        <div class="col">
            <a class="btn btn-warning btn-form" href="~/Assunto/Index">Voltar</a>
            <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
        </div>
</form>*@