@model BibliotecaApresentacao.ViewModels.AssuntoViewModel
@{
    ViewBag.Title = "Create";
}

<form action="/Assunto/Create" method="post">
    <label for="assunto">Assunto: </label>
    <input id="assunto" name="assuntoEntidade.AssuntoObra" />

</form>
