
@{
    ViewBag.Title = "Edit";
}

<form action="~/Assunto/Edit/@ViewBag.Assunto.AssuntoId" method="post">
    <label class="col-form-label" for="assunto">Assunto: </label>
    <input class="form-control" id="assunto" name="assuntoViewModel.AssuntoObra" value="@ViewBag.Assunto.AssuntoObra"/>

    <input class="btn btn-success btn-form" type="submit" value="Salvar" />

</form>

