@model IList<BibliotecaApresentacao.ViewModels.AssuntoViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <a class="btn btn-primary" href="~/Assunto/Create">Novo</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Assunto</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assunto in Model)
        {
            <tr>
                <td>@assunto.AssuntoObra</td>
                <td>
                    <a class="btn btn-warning" href="~/Assunto/Edit/@assunto.AssuntoId">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="~/Assunto/Delete/@assunto.AssuntoId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
