@model IList<BibliotecaApresentacao.ViewModels.AssuntoViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Assuntos</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm float-right" href="~/Assunto/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        @foreach (var assunto in Model)
        {
            <tr class="busca">
                <td class="info-nome">@assunto.AssuntoObra</td>
                <td class="col-md-1">
                    <a class="btn btn-warning btn-sm float-right" href="~/Assunto/Edit/@assunto.AssuntoId">Editar</a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger btn-sm float-right" href="~/Assunto/Delete/@assunto.AssuntoId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
