
@{
    ViewBag.Title = "Edit";
}

<form action="~/ExemplarLivro/Edit/@ViewBag.ExemplarLivro.ExemplarLivroId" method="post">
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="registro">Registro: </label>
                <input class="form-control" id="registro" name="exemplarLivroViewModel.Registro" value="@ViewBag.ExemplarLivro.Registro" />
            </div>
            <div class="col">
                <label class="col-form-label" for="numeroExemplar">Nº: </label>
                <input class="form-control" id="numeroExemplar" name="exemplarLivroViewModel.NumeroExemplar" value="@ViewBag.ExemplarLivro.NumeroExemplar" />
            </div>
            <input class="some" value="@ViewBag.ExemplarLivro.LivroId" name="exemplarLivroViewModel.LivroId" />
        </div>
    </div>
    <div class="col">
        <a class="btn btn-danger btn-form" href="~/ExemplarLivro/Index/@ViewBag.ExemplarLivro.LivroId">Cancelar</a>
        <input class="btn btn-success btn-form" type="submit" value="Salvar" />
    </div>
</form>