
@{
    ViewBag.Title = "Edit";
}

<form action="~/ExemplarLivro/Edit/@ViewBag.ExemplarLivro.ExemplarLivroId" method="post">
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="registro">Registro: </label>
                <input class="form-control" id="registro" name="exemplarLivroViewModel.Registro" value="@ViewBag.ExemplarLivro.Registro"/>
            </div>
            <div class="col">
                <label class="col-form-label" for="numeroExemplar">Nº: </label>
                <input class="form-control" id="numeroExemplar" name="exemplarLivroViewModel.NumeroExemplar" value="@ViewBag.ExemplarLivro.NumeroExemplar"/>
            </div>
        </div>
        <input class="some" value="@ViewBag.ExemplarLivro.LivroId" name="exemplarLivroViewModel.LivroId"/>
    </div>

    <input class="btn btn-primary btn-form" type="submit" value="Salvar" />
</form>