
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Autor/Adiciona">
            <label for="nome">Nome: </label>
            <input id="nome" name="ViewBag.Autor.NomeAutor" />

            <input type="submit"  value="Adicionar" />
        </form>
    </div>
</body>
</html>
