@model BibliotecaApresentacao.ViewModels.AutorViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <h3>Cadastro de Autor</h3>

    <div class="col">
        @Html.LabelFor(model => model.NomeAutor, "*Nome do Autor:", new { @class = "col-form-label" })
        @Html.EditorFor(model => model.NomeAutor, new { htmlAttributes = new {@class = "form-control", @placeholder = "Sobrenome, Nome"}})
        @Html.ValidationMessageFor(model => model.NomeAutor, "" , new {@class = "text-danger" })
    </div>
    <div class="col">
        <a class="btn btn-warning btn-sm btn-form" href="~/Autor/Index">Voltar</a>
        <input class="btn btn-primary btn-sm btn-form" type="submit" value="Cadastrar" />
    </div>
}

<!-----------------------------------------From HTML---------------------------------------------------->
@*<form action="~/Autor/Create" method="post">
        <div class="col">
            <label class="col-form-label" for="autor">Autor:</label>
            <input class="form-control" id="autor" name="autorViewModel.NomeAutor" />
        </div>

        <input class="btn btn-primary btn-form" type="submit" value="Cadastrar" />
    </form>*@
