@model IList<BibliotecaApresentacao.ViewModels.AutorViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Autores</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="~/Autor/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.NomeAutor</td>
                <td>
                    <a class="btn btn-warning" href="~/Autor/Edit/@autor.AutorId">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="~/Autor/Delete/@autor.AutorId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>