@model IList<BibliotecaApresentacao.ViewModels.AutorViewModel>
@{
    ViewBag.Title = "Index";
}

@if (TempData["msg"] != null)
{
    <span id="mensagem" class="alert-danger alert-heading">
        <div class="alert alert-danger" role="alert">
            @TempData["msg"]
        </div>
    </span>
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Autores</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm float-right" href="~/Autor/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr class="busca">
                <td class="info-nome">@autor.NomeAutor</td>
                <td class="col-md-1">
                    <a class="btn btn-warning btn-sm float-right" href="~/Autor/Edit/@autor.AutorId">Editar</a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger btn-sm float-right" href="~/Autor/Delete/@autor.AutorId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>